@tailwind components;
@tailwind utilities;

@media (max-width: 575px) {
    .max-xs\:e-hidden {
        display: none;
    }
    .max-xs\:e-col-span-6 {
        grid-column: span 6 / span 6;
    }
    /* Adjust template for small displays so columns do not overlap each other */
    .e-grid-cols-12-ext {
        grid-template-columns: minmax(22rem, 1fr) repeat(11, minmax(0, 1fr));
    }
}

@media (max-width: 767px) {
    .max-sm\:e-hidden {
        display: none;
    }
}
